.com {
  :global {
    .ant-row {
      margin-bottom: 0.8rem;
    }
    .ant-card-body {
      padding: 0.5rem 0.7rem;
    }
    .ant-statistic-content-value {
      font-size: 1rem;
    }
  }
  .progress {
    width: 100%;
    @media screen and (min-width: 769px) {
      width: 20%;
    }
  }
}
